function Random.setSeed 0
    push argument 0
    pop static 0
    push constant 0
    return
function Random.mod 0
    push argument 0
    push constant 0
    lt
    not
    if-goto L1
    push argument 0
    neg
    pop argument 0
    goto L0
label L1
label L0
label L2
    push argument 0
    push constant 1
    add
    push argument 1
    gt
    not
    if-goto L3
    push argument 0
    push argument 1
    sub
    pop argument 0
    goto L2
label L3
    push argument 0
    return
function Random.next 0
    push constant 7919
    push constant 17
    push static 0
    call Math.multiply 2
    add
    pop static 0
    push static 0
    return
function Random.between 1
    push argument 1
    push argument 0
    sub
    pop local 0
    call Random.next 0
    push local 0
    call Random.mod 2
    push argument 0
    add
    return