function Dialogue.makeNode 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call DialogueNode.makeNode0 0
pop static 0
push constant 0
return
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 0
call DialogueNode.dispose 1
pop temp 0
call DialogueNode.makeNode1 0
pop static 0
push constant 0
return
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 0
call DialogueNode.dispose 1
pop temp 0
call DialogueNode.makeNode2 0
pop static 0
push constant 0
return
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 0
call DialogueNode.dispose 1
pop temp 0
call DialogueNode.makeNode3 0
pop static 0
push constant 0
return
label IF_FALSE3
push constant 0
return
function Dialogue.draw 0
call QuestManager.getHasStarted 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call UserInterface.drawInstruction 1
pop temp 0
label WHILE_EXP0
push static 0
call DialogueNode.hasEnded 1
not
not
if-goto WHILE_END0
push static 0
call DialogueNode.advance 1
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
call Input.waitForEnter 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
call UserInterface.clearInstruction 0
pop temp 0
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
function Dialogue.endDialogue 0
push static 0
call DialogueNode.endDialogue 1
pop temp 0
push constant 0
return
