function Dialogue.init 0
call Dialogue.initDialogues 0
pop temp 0
push constant 0
return
function Dialogue.initDialogues 0
push constant 5
call Array.new 1
pop static 1
push constant 0
push static 1
add
call DialogueNode.makeIntro 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
call DialogueNode.makeEnemyGNIRUT 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
call DialogueNode.makeEnemyLOLO 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
call DialogueNode.makeEnemyNAND 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
call DialogueNode.makeEnemyTETRIS 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 1
add
pop pointer 1
push that 0
pop static 0
push constant 0
return
function Dialogue.makeNode 0
push static 0
call DialogueNode.dispose 1
pop temp 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push static 1
add
call DialogueNode.makeIntro 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push static 1
add
call DialogueNode.makeSHIMON1 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push static 1
add
call DialogueNode.makeSHIMON2 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
push static 1
add
call DialogueNode.makeSHIMON3 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push argument 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
push static 1
add
call DialogueNode.makeSHIMON4 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
push argument 0
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
push static 1
add
call DialogueNode.makeSHIMON5 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE5
push argument 0
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
push static 1
add
call DialogueNode.makeSHIMON6 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE6
push constant 0
push static 1
add
pop pointer 1
push that 0
pop static 0
push constant 0
return
function Dialogue.updateToFriend 1
call NPC.getActive 0
pop local 0
push static 0
call DialogueNode.dispose 1
pop temp 0
push local 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
push static 1
add
call DialogueNode.makeFriendGNIRUT 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
push static 1
add
call DialogueNode.makeFriendLOLO 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
push static 1
add
call DialogueNode.makeFriendNAND 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push local 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
push static 1
add
call DialogueNode.makeFriendTETRIS 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push local 0
push static 1
add
pop pointer 1
push that 0
pop static 0
push constant 0
return
function Dialogue.setDialogueNode 0
push argument 0
push static 1
add
pop pointer 1
push that 0
pop static 0
push constant 0
return
function Dialogue.draw 0
call UserInterface.clearDialogueBox 0
pop temp 0
push static 0
call DialogueNode.hasEnded 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call UserInterface.drawInstruction 1
pop temp 0
label WHILE_EXP0
push static 0
call DialogueNode.hasEnded 1
not
not
if-goto WHILE_END0
push static 0
call DialogueNode.draw 1
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
call Input.waitForEnter 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
call UserInterface.clearInstruction 0
pop temp 0
goto IF_END0
label IF_FALSE0
push static 0
call DialogueNode.draw 1
pop temp 0
label IF_END0
push constant 0
return
function Dialogue.endDialogue 0
push static 0
call DialogueNode.end 1
pop temp 0
push constant 0
return
