function Game.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
call NPC.initShimon 0
pop this 0
call NPC.initGini 0
pop this 1
push pointer 0
return
function Game.run 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop static 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push static 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call NPC.interact 0
pop temp 0
call QuestManager.manageQuest 0
pop temp 0
label IF_FALSE0
push constant 50
call Sys.wait 1
pop temp 0
call Draw.sprite 0
pop temp 0
call Keyboard.keyPressed 0
pop local 1
push local 1
call Input.isLookup 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Lookup.run 1
pop temp 0
push constant 0
not
pop static 0
label IF_FALSE1
push local 1
call Input.isAnswer 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
call Challenge.run 1
pop temp 0
label IF_FALSE2
push local 1
call Input.isQuit 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.setNewLookup 0
push argument 0
pop static 0
push constant 0
return
