function Input.initInput 0
push constant 0
pop static 0
push constant 0
pop static 1
push constant 0
pop static 2
push constant 0
pop static 3
push constant 0
pop static 4
call Lookup.initLookupParams 0
pop temp 0
call Challenge.initChallengeParams 0
pop temp 0
push constant 0
return
function Input.runInput 1
label WHILE_EXP0
push static 1
not
not
if-goto WHILE_END0
push constant 50
call Sys.wait 1
pop temp 0
call Draw.drawSprite 0
pop temp 0
push constant 3
push constant 3
call Output.moveCursor 2
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop static 0
push constant 3
push constant 3
call Output.moveCursor 2
pop temp 0
label IF_FALSE0
call Test1.initTest1 0
pop temp 0
call Test1.getStrTest1 0
call Test2.modStrTest1 1
pop temp 0
push local 0
push constant 64
eq
push local 0
push constant 76
eq
or
push static 0
push local 0
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Lookup.run 1
pop temp 0
label IF_FALSE1
push local 0
push constant 65
eq
push static 0
push local 0
eq
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Challenge.run 1
pop temp 0
label IF_FALSE2
push constant 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Input.isEnter 0
push argument 0
push constant 128
eq
push static 0
push argument 0
eq
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
pop static 0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Input.manageCharAndTimeBuffer 0
push argument 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 150
call Sys.wait 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 50
call Sys.wait 1
pop temp 0
label IF_END0
push constant 0
return
function Input.debugKey 0
push constant 14
push constant 3
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Input.debugEvent 0
push static 3
push constant 1
add
pop static 3
push constant 15
push constant 3
call Output.moveCursor 2
pop temp 0
push static 3
call Output.printInt 1
pop temp 0
push constant 0
return
function Input.debugEvent2 0
push static 4
push constant 1
add
pop static 4
push constant 16
push constant 3
call Output.moveCursor 2
pop temp 0
push static 4
call Output.printInt 1
pop temp 0
push constant 0
return
function Input.debugStrLen 0
push argument 1
push argument 2
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
