function Main.main 0
call Characters.initCharacters 0
pop temp 0
call Input.initInput 0
pop temp 0
call Draw.initDraw 0
pop temp 0
call UserInterface.initUI 0
pop temp 0
call Characters.getFatherSP 0
call UserInterface.printRAM 1
pop temp 0
call Dialog.testDialog 0
pop temp 0
call Input.runInput 0
pop temp 0
call fatherSP.dispose 0
pop temp 0
push constant 0
return
