function Main.main 1
call Characters.initShimon 0
pop local 0
call Sprites.initSpritesParams 0
pop temp 0
call Input.initInput 0
pop temp 0
call Draw.initDraw 0
pop temp 0
call UserInterface.initUI 0
pop temp 0
call Dialog.testDialog 0
pop temp 0
call Input.runInput 0
pop temp 0
push local 0
call Characters.dispose 1
pop temp 0
push constant 0
return
