function NPC.init 0
push constant 0
pop static 0
push constant 0
pop static 1
call ChallengeNode.makeNode0 0
pop static 3
call ContentNode.makeBlank 0
pop static 4
push constant 0
return
function NPC.interact 0
call Debug.interactions 0
pop temp 0
push static 3
call ChallengeNode.draw 1
pop temp 0
push static 4
call ContentNode.draw 1
pop temp 0
call Dialogue.draw 0
pop temp 0
call QuestManager.manageQuest 0
pop temp 0
push constant 0
return
function NPC.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function NPC.getStage 0
push argument 0
pop pointer 0
push constant 4
push this 0
add
pop pointer 1
push that 0
return
function NPC.incStage 0
push argument 0
pop pointer 0
push constant 4
push this 0
add
push constant 4
push this 0
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function NPC.setPending 0
push argument 0
pop static 2
push constant 0
return
function NPC.getActive 0
push static 1
return
function NPC.setActive 0
push argument 0
pop static 1
push constant 0
return
function NPC.makeChallengeNode 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call ChallengeNode.makeNode0 0
pop static 3
push constant 13
call Challenge.setSelBuffIndex 1
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 3
call ChallengeNode.dispose 1
pop temp 0
call ChallengeNode.makeNode1 0
pop static 3
push constant 13
call Challenge.setSelBuffIndex 1
pop temp 0
push constant 0
return
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 3
call ChallengeNode.dispose 1
pop temp 0
call ChallengeNode.makeNode2 0
pop static 3
push constant 0
call Challenge.setSelBuffIndex 1
pop temp 0
push constant 0
return
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 3
call ChallengeNode.dispose 1
pop temp 0
push constant 2
call Array.new 1
pop static 5
push constant 0
push static 5
add
call ChallengeNode.makeNode31 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 5
add
call ChallengeNode.makeNode32 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 5
add
pop pointer 1
push that 0
pop static 3
push constant 0
call Challenge.setSelBuffIndex 1
pop temp 0
push constant 0
return
label IF_FALSE3
push argument 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
push static 5
add
pop pointer 1
push that 0
call Memory.deAlloc 1
pop temp 0
push constant 1
push static 5
add
pop pointer 1
push that 0
call Memory.deAlloc 1
pop temp 0
push static 3
call ChallengeNode.dispose 1
pop temp 0
push static 5
call Array.dispose 1
pop temp 0
push constant 0
call Challenge.setSelBuffIndex 1
pop temp 0
push constant 0
return
label IF_FALSE4
push constant 0
return
function NPC.setChallengeNode 0
push argument 0
push static 5
add
pop pointer 1
push that 0
pop static 3
push constant 0
return
function NPC.makeContentNode 0
push argument 0
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call ContentNode.makeShimon 0
pop static 4
push constant 0
return
label IF_FALSE0
push constant 0
return
function NPC.checkChallengeAnswer 1
push static 3
push argument 0
push argument 1
call ChallengeNode.checkAnswer 3
pop local 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call QuestManager.complete 0
pop temp 0
goto IF_END0
label IF_FALSE0
call UserInterface.signalIncorrectAnswer 0
pop temp 0
label IF_END0
push local 0
return
