function NPC.init 0
push constant 0
pop static 0
push constant 0
pop static 1
push constant 0
return
function NPC.initShimon 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop static 1
push constant 5
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 7
call String.new 1
push constant 64
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 78
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 555
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 16
call String.new 1
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
call String.new 1
push constant 64
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 78
call String.appendChar 2
pop this 1
push constant 16
call String.new 1
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
pop this 2
push constant 555
pop this 3
push constant 1
pop this 4
push static 0
push constant 1
add
pop static 0
push pointer 0
return
function NPC.initGini 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 5
call String.new 1
push constant 64
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 73
call String.appendChar 2
pop this 1
push constant 3
call String.new 1
push constant 66
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 70
call String.appendChar 2
pop this 2
push constant 4
pop this 3
push constant 2
pop this 4
push pointer 0
return
function NPC.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function NPC.interact 0
push static 2
push static 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Dialogue.draw 0
pop temp 0
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
function NPC.getStage 0
push argument 0
pop pointer 0
push constant 4
push this 0
add
pop pointer 1
push that 0
return
function NPC.incStage 0
push argument 0
pop pointer 0
push constant 4
push this 0
add
push constant 4
push this 0
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function NPC.setPending 0
push argument 0
pop static 2
push constant 0
return
function NPC.getActive 0
push static 1
return
function NPC.setActive 0
push argument 0
pop static 1
push constant 0
return
