function QuestManager.init 0
push constant 0
pop static 0
push constant 0
pop static 1
push constant 0
pop static 2
call QuestManager.initPendingNPCs 0
pop temp 0
push static 0
push static 3
add
pop pointer 1
push that 0
call NPC.setPending 1
pop temp 0
push static 0
call Dialogue.makeNode 1
pop temp 0
push constant 0
return
function QuestManager.initPendingNPCs 0
push constant 30
call Array.new 1
pop static 3
push constant 0
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 3
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function QuestManager.getHasStarted 0
push static 2
return
function QuestManager.setHasStarted 0
push argument 0
pop static 2
push constant 0
return
function QuestManager.getActive 0
push static 0
return
function QuestManager.getActiveSubQuest 0
push static 1
return
function QuestManager.increment 0
push static 0
push constant 1
add
pop static 0
push static 0
push static 3
add
pop pointer 1
push that 0
call NPC.setPending 1
pop temp 0
push static 0
call Dialogue.makeNode 1
pop temp 0
push constant 0
return
function QuestManager.inActiveSubQuest 0
push static 1
push constant 1
add
pop static 1
push constant 0
return
