function Sprites.initSpritesParams 0
push constant 0
pop static 0
push constant 7165
pop static 4
push constant 2717
pop static 5
push constant 1739
pop static 1
push constant 1642
pop static 2
push constant 3357
pop static 3
push constant 0
return
function Sprites.setCurrentSprite 0
push argument 0
pop static 0
push constant 0
return
function Sprites.getCurrentSprite 0
push static 0
return
function Sprites.drawCurrentSelSprite 0
push static 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
not
call Sprites.drawSpriteShimon 1
pop temp 0
push constant 0
return
label IF_FALSE0
push static 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
not
call Sprites.drawSpriteGini 1
pop temp 0
push constant 0
return
label IF_FALSE1
push constant 0
return
function Sprites.clearViewport 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 135
push constant 47
push constant 353
push constant 173
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Sprites.drawSpriteShimon 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 1
call SpriteShimon.drawShimonBig 1
pop temp 0
goto IF_END0
label IF_FALSE0
push static 1
call SpriteShimon.drawShimonBigFlipped 1
pop temp 0
label IF_END0
push constant 0
return
function Sprites.drawSpriteShimonSmall 0
push static 4
call SpriteShimon.drawShimonSmall 1
pop temp 0
push constant 0
return
function Sprites.drawSpriteGini 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 2
call SpriteGini.drawGiniBig 1
pop temp 0
goto IF_END0
label IF_FALSE0
push static 2
call SpriteGini.drawGiniBigFlipped 1
pop temp 0
label IF_END0
push constant 0
return
function Sprites.drawSpriteGiniSmall 0
push static 5
call SpriteGini.drawGiniSmall 1
pop temp 0
push constant 0
return
function Sprites.drawQuestionMark 0
push static 3
call SpriteQuestionMark.drawQuestionMark 1
pop temp 0
push constant 0
return
