function Test2.modStrTest1 0
push constant 4
call String.new 1
push constant 78
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
pop argument 0
call Test1.printStrTest1 0
pop temp 0
push constant 1
push constant 0
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
push constant 0
return
function Test2.modArrTest1 0
push constant 0
push argument 0
add
push constant 10
call String.new 1
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
call Test1.printArrTest1 0
pop temp 0
push constant 1
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 0
push argument 0
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 0
return
